body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 16px;
}





ul, li {
	display: block;
	padding: 0px; /*внутрений отступ(зеленый цвет)*/
	margin: 0px;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.header{
	background: url('../img/background.jpg') no-repeat center top/cover;
	
	padding-top: 41px;
}

.header a {
	color: #fff;
}

.menu {
	display: flex; /*выровнять в одну линию*/
}

.menu li a{
	font-family: 'Montserrat';
	text-decoration: none;  /*убирает подчеркивания*/
	font-size: 16px;`
	line-height: 20px;
	letter-spacing: -1.07256px;

}

.menu li {
	margin-right: 50px;
	
}




.nav {
	display: flex;
	align-items: center;

}

.logo {
	margin-right: 893px;
}
.PreviewHeader{
	position: absolute;

}

.PreviewHeader h1{
margin-top: 185px;
font-family: 'Montserrat';
font-weight:bold;
font-style: normal;
font-size: 50px;
line-height: 61px;
letter-spacing: -1.68545px;
color: #FFF;
width: 681px;
}
.PreviewHeader h1 a{
font-family: 'Montserrat';
text-decoration: none;
font-weight:bold;
font-size: 50px;
color:#FFB527
}
/*h1::after{position:absolute;content:"financial data";color:red;right:0}*/
.PreviewHeader p{
margin-top: 28px;
font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #FFF;
width: 429px;
height: 81px;
}
.btn {
	margin-top: 28px;
	display: block;
	font-size: 16px;
	text-align: center;
	padding: 18px 27px 18px 27px;
	
	width: 91px;
	height: 20px;
	text-decoration: none;
	background: #FFB527;
	border-radius: 4px;
}
.btn1 {
	margin-top: 650px;
	display: block;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	padding: 18px 0px 18px 0px;
	
	width: 239px;
	
	text-decoration: none;
	background: #FFB527;
	border-radius: 4px;
	color: #FFF;
}
.btn2 {
	
	display: block;
	margin-top: 30px;
	font-family: 'Montserrat';
	font-weight: 600;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	padding: 18px 0px 18px 0px;
	
	width: 151px;
	
	text-decoration: none;
	background: #FFB527;
	border-radius: 4px;
	color: #FFF;
}

.Avatar {
 
   
    padding-top: 30px;
	margin-left: 150px;

}
.ImgAvatar{
	max-width: 100%;

}

.HeaderMainPage{
	display: flex;
}
.Line1{
	display: flex;
	position: absolute;
}
.OfferText h2{
	margin-top: 166px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 50px;
	letter-spacing: -1.53223px;
	color: #464646;
	width: 508px;
	height: 122px;

}
.OfferText p{
	margin-top: -20px;	
	font-family: 'Montserrat';
	font-size: 16px;
	letter-spacing: -0.919336px;
	line-height: 150%;
	color: #464646;
	width: 377px;
	height: 72px;
}
/*-----------------Block1---------------*/
.Block1 {
	display: block;
	
		margin-top: 185px;
	background: #FFFFFF;
	box-shadow: 0px 1px 15px; 
	border-radius: 8px;
	width: 425px;
	height: 200px;
}

.Block2:hover{
	border-style: none;
}
.HeadBlock {
	display: flex;
}

.HeadBlock .PictureBlock{
	margin-top: 16px;
	margin-left:16px;
}
.HeadBlock .TextBlock h3{
	margin-left:13px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000;

}

.HeadBlock .TextBlock p{
	font-family: 'Montserrat';
	color: rgba(0, 0, 0, 0.85);
	margin-top: -14px;
	margin-left:13px;
	font-size: 16px;
	line-height: 20px;
}

.MainBlock p{
	margin-top: -2px;
	padding-left: 14px;

	font-family: 'Montserrat';
	color: rgba(0, 0, 0, 0.85);
	font-size: 16px;
	line-height: 20px;
	width: 363px;
	height: 40px;	
}
.About p{
	margin-top: 12px;
	margin-left: 12px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
}
.FooterBlock{
	display: flex;
}
.Button .Media{
	margin-top: -10px;
	margin-left: 12px;
	display: block;
	font-size: 14px;
	text-align: center;
	padding: 2px 0px 2px 0px;
	color: rgba(0, 0, 0, 0.5);
	
	text-decoration: none;
	background: rgba(182, 32, 224, 0.24441);
	width: 58px;
	height: 21px;
	border-radius: 4px;
}
.Button .Finance{
	margin-top: -25px;
	margin-left: 77px;
	display: block;
	font-size: 14px;
	text-align: center;
	padding: 2px 0px 2px 0px;
	color: rgba(0, 0, 0, 0.5);
	
	text-decoration: none;
	background: rgba(0, 145, 255, 0.38583);
	width: 72px;
	height: 21px;
	border-radius: 4px;
}
.Button .APIs{
	margin-top: -25px;
	margin-left: 156px;
	display: block;
	font-size: 14px;
	text-align: center;
	padding: 2px 0px 2px 0px;
	color: rgba(0, 0, 0, 0.5);
	
	text-decoration: none;
	background: rgba(109, 114, 120, 0.373161);
	width: 48px;
	height: 21px;
	border-radius: 4px;
}
	.View{
		margin-left: 113px;
	
		
		font-family: 'Montserrat';
		font-size: 24px;
		line-height: 17px;
		color: #6D7278;
	}
.FooterBlock p{
		margin-top: -0px;
		margin-left: 4px;
		font-family: 'Montserrat';
		font-size: 12px;
		line-height: 17px;
		color: #6D7278;
}
/*-----------------Block2---------------*/
.Block2 {
	display: block;
	margin-top: 185px;
	margin-left: 40px;
	background: #FFFFFF;
	box-shadow: 0px 1px 15px; 
	border-radius: 8px;
	width: 425px;
	height: 200px;
}

/*-----------------Line2---------------*/
.Line2{
	display: flex;
	position: absolute;
}
/*-----------------Block3--------------*/

.Block3 {
	display: block;
	margin-top: 420px;
	background: #FFFFFF;
	box-shadow: 0px 1px 15px; 
	border-radius: 8px;
	width: 425px;
	height: 200px;
}
/*-----------------Block4--------------*/

.Block4 {
	display: block;
	margin-top: 420px;
	margin-left: 30px;
	background: #FFFFFF;
	box-shadow: 0px 1px 15px; 
	border-radius: 8px;
	width: 425px;
	height: 200px;
}
/*-----------------Block5--------------*/

.Block5 {
	display: block;
	margin-top: 420px;
	margin-left: 30px;
	background: #FFFFFF;
	box-shadow: 0px 1px 15px; 
	border-radius: 8px;
	width: 425px;
	height: 200px;
}



.containerFooter {
	position: absolute;
	margin-top: 400px;
}
.PreviewFooter{
	display: flex;
}

.DownPicture{
	margin-top: 107px;
}
.DownText {
	margin-top: 236px;
	margin-left: 38px;
}
.DownText span{
	margin-top: -90px;
	display: block;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 25px;
	line-height: 37px;
	letter-spacing: -0.919336px;
	color: #0082FC;
	width: 337px;
	height: 76px;
}
.DownText h4{
	display: block;
	margin-top: 0px;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 50px;
	line-height: 61px;
	letter-spacing: -1.53223px;
	color: #464646;
	width: 537px;
	height: 61px;
}
.DownText p{
	display: block;
	margin-top: -50px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.92px;
	color: #464646;
	width: 537px;
	height: 72px;
}
/*-----------------Нижняя часть сайта--------------*/

.Cocsety{
	display: block;
	margin-top: 107px;
	background: #3695FF no-repeat center top/cover;

}
.FonBlock {
	width: 1170px;
	margin: 0 auto;
}
.Emblems{
	display: flex;
	padding-top: 70px;
}
.kaggle{
	margin-top: 12px;
	margin-left: 696px;
	width: 84px;
	height: 30px;
}
.instagram{
	margin-top: 12px;
	margin-left: 30px;
	width: 25px;
	height: 25px;
}
.in{
	margin-top: 12px;
	margin-left: 30.5px;
	width: 25px;
	height: 25px;
}
.facebook{
	margin-top: 12px;
	margin-left: 36.89px;
	width: 25px;
	height: 30px;
}
.twitter{
	margin-top: 12px;
	margin-left: 36.89px;
	width: 30px;
	height: 25px;
}
.WhiteLine{
	margin-top: 25px;
	width: 1200px;
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
}
.End{
	
	display: flex;
}
.End p{
	margin-top: 10px;
	display: block;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -1.07px;
	color: #FFF;
	width: 111px;
	height: 20px;
}
.End span{
	display: block;
	margin-top: 10px;
	margin-left: 960px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -1.07px;
	color: #FFF;
	
	
}
/*				<div class="Block1">
					<div class="HeadBlock">
						<div class="PictureBlock">
							
						</div>
						<div class="TextBlock">
							<h3>Company Financials</h3>
							<p>By NewsAPI</p>
						</div>
					</div>
					<div class="MainBlock">
						<p>Get structured financial data for any company in just a few clicks.</p>
					</div>
					<div class="About">
						<p>Price: Free+</p>
					</div>
					<div class="FooterBlock">
						<div class="Button">
							<a href="#" class="Media">Media</a>
							<a href="#" class="Finance">Finance</a>
							<a href="#" class="APIs">APIs</a>
						</div>
						<div class="View">
							><img src="img/view.jpg" alt="Databar"></div>
							<p>100 views</p>
						</div>
					</div>
					/**/